@import url(_varbiables.scss);
* {
  margin: 0;
  padding: 0;
}

ul{
    list-style-type: none;
    padding: 15px;
    margin: 5px;  
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  li{
    display: inline;
    color: darkblue;

  }
  .navbar {
    overflow: hidden;
    background-color:  #041562;
  }
  
  .navbar a {
    float: left;
    color: #93ffd8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color:  #041562;
  }
  
  .navbar a.active {
    background-color: #041562;
    color: white;
  }
  .home{
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: center;
      align-items: center;

  }